process {

    cpus   = 28 
    memory = 120.GB


}


executor {
  queueSize = 1
  cpus = 28
  memory = 120.GB
}


// Capture exit codes from upstream processes when piping
process.shell = ['/bin/bash', '-euo', 'pipefail']

timeline {
  enabled = true
  file = "${params.outdir}/pipeline_info/quantefication_timeline.html"
}
report {
  enabled = true
  file = "${params.outdir}/pipeline_info/quantefication_report.html"
}
trace {
  enabled = true
  file = "${params.outdir}/pipeline_info/quantefication_trace.txt"
}
dag {
  enabled = true
  file = "${params.outdir}/pipeline_info/quantefication_dag.html"
}


